.body {
  background-color: #202024;
  min-height: 100vh;
}

.content {
  display: flex;
  flex-direction: column;
  background-color: #202024;
  padding: 50px;
}

.page-title {
  color: #fff;
  margin-bottom: 30px;
}

.fields-container {
  width: 50%;
}

.button-actions {
  display: flex;
  flex-direction: row;
  width: 100px;
}